body {
  text-align: center;
}

.btn {
  width: 50%;
  background: rgba(116, 127, 145,0.4);
  border: 1px solid black;
  margin: 5px auto;
}

.h2 {
  width: 30%;
  background: rgba(255,0,0,0.8);
  margin: 1% auto;
}